<div class="jw-modal">
  <div class="jw-modal-body">
    <form [formGroup]="addMediaForm" (ngSubmit)="onSubmit()">
      <br />
      <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name" />
      </div>
      <br />
      <div>
        <label for="type">
          type
        </label>
        <input id="type" type="text" formControlName="type" />
      </div>
      <br />
      <div>
        <label for="author">
          Author
        </label>
        <input id="author" type="text" formControlName="author" />
      </div>
      <br />
      <div>
        <label for="description">
          Description
        </label>
        <textarea id="description" type="text" formControlName="description">
        </textarea>
      </div>
      <br />
      <div style="text-align: center;">
        <button class="button" type="submit">Add</button>
        <button type="cancel" class="btn" (click)="close()">Cancel</button>
      </div>
    </form>
  </div>
</div>
<div class="jw-modal-background"></div>
