<div class="jw-modal">
  <div class="jw-modal-body">
    <form [formGroup]="addMediaForm" (ngSubmit)="onSubmit()">
      <br />
      <div>
        <label for="name">
          Name
        </label>
        <input id="name" type="text" formControlName="name" />
      </div>
      <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
        <div *ngIf="form.name.errors.required">name is required</div>
      </div>
      <br />

      <div>
        <label for="type">
          type
        </label>
        <input id="type" type="text" formControlName="type" />
      </div>
      <div *ngIf="submitted && form.type.errors" class="invalid-feedback">
        <div *ngIf="form.type.errors.required">type is required</div>
      </div>

      <br />

      <div>
        <label for="author">
          Author
        </label>
        <input id="author" type="text" formControlName="author" />
      </div>
      <div *ngIf="submitted && form.author.errors" class="invalid-feedback">
        <div *ngIf="form.author.errors.required">author is required</div>
      </div>
      <br />

      <div>
        <label for="description">
          Description
        </label>
        <textarea id="description" type="text" formControlName="description">
        </textarea>
      </div>

      <div
        *ngIf="submitted && form.description.errors"
        class="invalid-feedback"
      >
        <div *ngIf="form.description.errors.required">
          description is required
        </div>
      </div>
      <br />

      <div>
        <label for="date">Date:</label>
        <input
          type="date"
          id="date"
          name="trip-start"
          min="1900-01-01"
          max="2100-12-31"
        />
      </div>
      <br />
      <div *ngIf="submitted && form.date.errors" class="invalid-feedback">
        <div *ngIf="form.date.errors.required">
          date is required
        </div>
      </div>
      <br />

      <div style="text-align: center;">
        <button class="button" type="submit">Add</button>
        <button type="cancel" class="btn" (click)="close()">Cancel</button>
      </div>
    </form>
  </div>
</div>
<div class="jw-modal-background"></div>
