<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group-Login">
    <div class="header-form">
      <e9-button
        value="Log in"
        size="xl"
        width="150px"
        class="button-left"
      ></e9-button>
      <e9-button
        value="Sign in"
        size="xl"
        width="150px"
        class="button-right"
        [outlined]="true"
        (btnClick)="goToRegister()"
      ></e9-button>
      <div class="text-center">
        <p>You already have an account</p>
      </div>
    </div>
    <div class="form-group-Email">
      <e9-input
        type="text"
        label="Username"
        class="form-control"
        labelColor="#7C72A0"
        color="#7C72A0"
        [value]="username"
        (ngValueChange)="username = $event"
      ></e9-input>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group-Password">
      <e9-input
        [value]="password"
        (ngValueChange)="password = $event"
        type="password"
        label="Password"
        class="form-control"
        color="#7C72A0"
        labelColor="#7C72A0"
      ></e9-input>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <div class="form-group-button">
      <e9-button
        [disabled]="loading"
        value="Log in"
        color="#7FDD6F"
        size="xl"
        width="150px"
      ></e9-button>
    </div>
  </div>
</form>
