.form-group-register {
  width: 500px;
}

tr {
  margin-top: 20px;
}

td {
  overflow: hidden;
  display: inline-block;
}

.form-group-button {
  margin-top: 20px;
}

#RegisterTable {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
