<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <table id="RegisterTable">
    <div class="form-group-register">
      <tr>
        <td>
          <div class="form-group-name">
            <label>Name</label>
            <br />
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-valid': submitted && f.email.errors }"
            />
            <div
              *ngIf="submitted && f.email.errors"
              class="invalid-feedback"
            ></div>
          </div>
        </td>
        <td>
          <div class="form-group-username">
            <label>Username</label>
            <br />
            <input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            />
            <div
              *ngIf="submitted && f.username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group-country">
            <label>Country</label>
            <br />
            <input
              type="text"
              formControlName="country"
              class="form-control"
              [ngClass]="{ 'is-valid': submitted && f.country.errors }"
            />
            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
              <div *ngIf="f.country.errors.required">country is required</div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group-city">
            <label>City</label>
            <br />
            <input
              type="text"
              formControlName="city"
              class="form-control"
              [ngClass]="{ 'is-valid': submitted && f.city.errors }"
            />
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">city is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <label> Birth date </label>
        <br />
        <td>
          <div class="form-group-birthDay">
            <select
              formControlName="day"
              class="form-control"
              [ngClass]="{ 'is-valid:': submitted && f.day.errors }"
            >
              <option *ngFor="let number of numbers" [value]="number">{{
                number
              }}</option>
            </select>
            <div *ngIf="submitted && f.day.errors" class="invalid-feedback">
              <div *ngIf="f.day.errors.required">day is required</div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group-mounth">
            <select
              formControlName="mounth"
              class="form-control"
              [ngClass]="{ 'is-valid:': submitted && f.mounth.errors }"
            >
              <option [value]="mounth" *ngFor="let mounth of mounths">
                {{ mounth }}</option
              >
            </select>
            <div *ngIf="submitted && f.mounth.errors" class="invalid-feedback">
              <div *ngIf="f.mounth.errors.required">mounth is required</div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group-year">
            <select
              formControlName="year"
              class="form-control"
              [ngClass]="{ 'is-valid:': submitted && f.year.errors }"
            >
              <option [value]="year" *ngFor="let year of years">
                {{ year }}</option
              >
            </select>
            <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
              <div *ngIf="f.year.errors.required">year is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group-email">
            <label>Email</label>
            <br />
            <input
              type="text"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-valid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group-password">
            <label>Password</label>
            <br />
            <input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <div class="form-group-button">
          <button [disabled]="loading" class="btn btn-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Register
          </button>
        </div>
      </tr>
    </div>
  </table>
</form>
