<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group-register">
    <div class="header-form">
      <e9-button
        value="Log in"
        size="xl"
        width="150px"
        class="button-left"
        [outlined]="true"
        (btnClick)="goToLogin()"
      ></e9-button>
      <e9-button
        value="Sign in"
        size="xl"
        width="150px"
        class="button-right"
      ></e9-button>
      <div class="text-center">
        <p>Join us create an account</p>
      </div>
    </div>
    <div class="form-group">
      <div class="form-control-2">
        <e9-input
          ngDefaultControl
          formControlName="firstName"
          type="text"
          label="Firstname"
          labelColor="#7C72A0"
          color="#7C72A0"
        ></e9-input>
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">
            First name is required
          </div>
        </div>
      </div>
      <div class="form-control-2">
        <e9-input
          ngDefaultControl
          formControlName="lastName"
          type="text"
          label="Lastname"
          labelColor="#7C72A0"
          color="#7C72A0"
        ></e9-input>
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">
            Last name is required
          </div>
        </div>
      </div>
      <div class="form-control-2">
        <e9-input
          ngDefaultControl
          formControlName="country"
          type="text"
          label="Country"
          labelColor="#7C72A0"
          color="#7C72A0"
        ></e9-input>
        <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
          <div *ngIf="f.country.errors.required">country is required</div>
        </div>
      </div>
      <div class="form-control-2">
        <e9-input
          ngDefaultControl
          formControlName="city"
          type="text"
          label="City"
          labelColor="#7C72A0"
          color="#7C72A0"
        ></e9-input>
        <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
          <div *ngIf="f.city.errors.required">city is required</div>
        </div>
      </div>
      <div class="form-control-full span-text-color">
        <span>Birth date</span>
      </div>
      <div class="form-control-3">
        <label>
          <select formControlName="day">
            <option *ngFor="let number of numbers" [value]="number">{{
              number
            }}</option>
          </select>
        </label>
        <div *ngIf="submitted && f.day.errors" class="invalid-feedback">
          <div *ngIf="f.day.errors.required">Day is required</div>
        </div>
      </div>
      <div class="form-control-3">
        <label>
          <select formControlName="mounth">
            <option [value]="mounth.value" *ngFor="let mounth of mounths">
              {{ mounth.text }}</option
            >
          </select>
        </label>
        <div *ngIf="submitted && f.mounth.errors" class="invalid-feedback">
          <div *ngIf="f.mounth.errors.required">Mounth is required</div>
        </div>
      </div>
      <div class="form-control-3">
        <label>
          <select
            formControlName="year"
            [ngClass]="{ 'is-valid:': submitted && f.year.errors }"
          >
            <option [value]="year" *ngFor="let year of years">
              {{ year }}</option
            >
          </select>
        </label>
        <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
          <div *ngIf="f.year.errors.required">Year is required</div>
        </div>
      </div>
      <div class="form-control-full">
        <e9-input
          ngDefaultControl
          formControlName="username"
          type="text"
          label="Username"
          labelColor="#7C72A0"
          color="#7C72A0"
        ></e9-input>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-control-full">
        <e9-input
          ngDefaultControl
          formControlName="email"
          type="text"
          label="Email"
          labelColor="#7C72A0"
          color="#7C72A0"
        ></e9-input>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-control-full">
        <e9-input
          ngDefaultControl
          formControlName="password"
          type="password"
          label="Password"
          labelColor="#7C72A0"
          color="#7C72A0"
        ></e9-input>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
    </div>
    <div class="form-group-button">
      <e9-button
        value="Sign in"
        color="#7FDD6F"
        size="xl"
        width="150px"
      ></e9-button>
    </div>
  </div>
</form>
