.form-group-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.form-group {
  margin-top: 5px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.form-control-2 {
  flex: 1 1 40%;
  margin-right: 5px;
  margin-left: 5px;
}

.form-control-3 {
  flex: 1 1 20%;
  margin: 5px 5px 5px 5px;
}

.form-control-full {
  flex: 1 1 100%;
  margin-right: 5px;
  margin-left: 5px;
}

select {
  width: 100%;
  border: 1px solid #7c72a0;
  background-color: white;
  border-radius: 4px;
  height: 28px;
}

.form-group-button {
  margin-top: 20px;
}

.button-left {
  margin-right: 5px;
}

.button-right {
  margin-left: 5px;
}

.text-center {
  text-align: center;
  color: #7c72a0;
}

.invalid-feedback {
  color: #d2172c;
}

.span-text-color {
  color: #7c72a0;
}
