<div *ngIf="error" class="alert alert-danger">{{ error }}</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <table id="RegisterTable">
    <div class="form-group-register">
      <tr>
        <td>
          <div class="form-group-name">
            <label>First Name</label>
            <br />
            <e9-input
              type="text"
              formControlName="firstName"
              class="form-control"
              [ngClass]="{ 'is-valid': submitted && f.firstName.errors }"
            ></e9-input>
            <div
              *ngIf="submitted && f.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.firstName.errors.required">
                First name is required
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group-name">
            <label>Last Name</label>
            <br />
            <e9-input
              type="text"
              formControlName="lastName"
              class="form-control"
              [ngClass]="{ 'is-valid': submitted && f.lastName.errors }"
            ></e9-input>
            <div
              *ngIf="submitted && f.lastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.lastName.errors.required">
                Last name is required
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group-username">
            <label>Username</label>
            <br />
            <e9-input
              type="text"
              formControlName="username"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            ></e9-input>
            <div
              *ngIf="submitted && f.username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group-country">
            <label>Country</label>
            <br />
            <e9-input
              type="text"
              formControlName="country"
              class="form-control"
              [ngClass]="{ 'is-valid': submitted && f.country.errors }"
            ></e9-input>
            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
              <div *ngIf="f.country.errors.required">country is required</div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group-city">
            <label>City</label>
            <br />
            <e9-input
              type="text"
              formControlName="city"
              class="form-control"
              [ngClass]="{ 'is-valid': submitted && f.city.errors }"
            ></e9-input>
            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
              <div *ngIf="f.city.errors.required">city is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <label> Birth date </label>
        <br />
        <td>
          <div class="form-group-birthDay">
            <select
              formControlName="day"
              class="form-control"
              [ngClass]="{ 'is-valid:': submitted && f.day.errors }"
            >
              <option *ngFor="let number of numbers" [value]="number">{{
                number
              }}</option>
            </select>
            <div *ngIf="submitted && f.day.errors" class="invalid-feedback">
              <div *ngIf="f.day.errors.required">day is required</div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group-mounth">
            <select
              formControlName="mounth"
              class="form-control"
              [ngClass]="{ 'is-valid:': submitted && f.mounth.errors }"
            >
              <option [value]="mounth" *ngFor="let mounth of mounths">
                {{ mounth }}</option
              >
            </select>
            <div *ngIf="submitted && f.mounth.errors" class="invalid-feedback">
              <div *ngIf="f.mounth.errors.required">mounth is required</div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group-year">
            <select
              formControlName="year"
              class="form-control"
              [ngClass]="{ 'is-valid:': submitted && f.year.errors }"
            >
              <option [value]="year" *ngFor="let year of years">
                {{ year }}</option
              >
            </select>
            <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
              <div *ngIf="f.year.errors.required">year is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="form-group-email">
            <label>Email</label>
            <br />
            <e9-input
              type="email"
              formControlName="email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  submitted &&
                  f.email.errors &&
                  (f.email.touched || f.email.dirty)
              }"
            ></e9-input>
            <div
              *ngIf="
                submitted &&
                f.email.errors &&
                (f.email.touched || f.email.dirty)
              "
              class="invalid-feedback"
            >
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.touched || f.email.dirty">
                Email is not correct
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="form-group-password">
            <label>Password</label>
            <br />
            <e9-input
              type="password"
              formControlName="password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            ></e9-input>
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <div class="form-group-button">
          <e9-button [disabled]="false" class="btn btn-primary">
            Register
          </e9-button>
        </div>
      </tr>
    </div>
  </table>
</form>
