<div id="Titre">
  <h1>Welcome To Alexandrie</h1>
  <h4>Online Media Library</h4>
</div>

<div id="Infos">
  <h2>Alexandrie ? What it is ?</h2>
  <p>
    Alexandrie is student project. Whose objective is to provide space for
    catalog your media. <br />
    <b id="Media">Music, Book or Movie</b> You can repertory your masterpieces !
  </p>
  <h2>You don't have an account ?</h2>
  <p>
    Make account
    <span id="free"
      >It is FREE :
      <a [routerLink]="['/register']"><fa-icon [icon]="Register"></fa-icon></a>
      <br />
    </span>
    <span id="notice">for this moment</span>
  </p>
  <h2>can I see source code ?</h2>
  <p>
    Yes ! This project it is open in GitHub :
    <a href="https://github.com/enneagone/alexandrie-front"
      ><fa-icon [icon]="Git"></fa-icon
    ></a>
  </p>
</div>
