$violet: #cc99ff;
$gris-claire: rgba(124, 114, 160, 0.1);
$titre-secondary: #e9c071;

#Infos {
  padding-left: 2%;
  position: center;

  #free {
    color: red;
  }
  #notice {
    font-size: 20%;
  }
  h2 {
    color: $violet;
  }
  p {
    #Media {
      color: $violet;
    }
    a {
      color: $violet;
    }
  }
}

#Titre {
  padding-left: 10%;
  color: $violet;
  font-size: 100%;
  h4 {
    color: $titre-secondary;
  }
}
