<div class="box">
  <div id="Logo">
    <img id="image" src="assets/Logo.png" />
  </div>

  <div class="Authentification" align="center">
    <button
      id="Login"
      aria-label="Login"
      (click)="isOnLogin = true; isOnRegister = false"
    >
      Login
    </button>
    <button
      id="Register"
      aria-label="Sign In"
      (click)="isOnRegister = true; isOnLogin = false"
    >
      Sign In
    </button>
  </div>
</div>

<div class="componentAuth" align="center">
  <div class="LoginCom">
    <alx-login *ngIf="isOnLogin"></alx-login>
  </div>
  <div class="RefisterComp">
    <alx-register *ngIf="isOnRegister"></alx-register>
  </div>
</div>
