$violet-backgroud: #ddccff;

.Authentification {
  /**margin-top: 100px;**/
  &[align='end'] {
    justify-content: flex-end;
  }

  &[align='center'] {
    margin-top: 40px;
    justify-content: center;
  }
}

.componentAuth {
  &[align='center'] {
    justify-content: center;
    text-align: left;
  }
}

#Login {
  margin-right: 30px;
}

alx-layout-menu {
  width: 20%;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  margin: 0;
  padding: 0;
  background-color: $violet-backgroud;
}
