$violet-backgroud: #ddccff;

.Authentification {
  /**margin-top: 100px;**/
  &[align='end'] {
    justify-content: flex-end;
  }

  &[align='center'] {
    margin-top: 40px;
    justify-content: center;
  }
}

.componentAuth {
  &[align='center'] {
    justify-content: center;
    text-align: left;
  }
}

#Login {
  margin-right: 30px;
}

alx-layout-menu {
  .menu {
    width: 20%;
  }
  .menu-info {
    width: 40%;
  }
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  //background-color: $violet-backgroud;
  left: 0;
  top: 0;
}
