<div class="menu">
  <a id="logo" [routerLink]="['/home']">
    <img src="assets/Logo.png" />
  </a>
  <div class="item-menu" *ngIf="this.isUserActive()">
    <ul>
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active"
          ><fa-icon [icon]="Home"></fa-icon> Home</a
        >
      </li>
      <li>
        <a href="#"><fa-icon [icon]="User"></fa-icon>My Account</a>
      </li>
      <li>
        <a href="#"><fa-icon [icon]="Media"></fa-icon>My Collection</a>
      </li>
    </ul>
    <a id="info" [routerLink]="['/info']"
      ><fa-icon [icon]="Info"></fa-icon>Info</a
    >
  </div>
  <div class="item-menu" *ngIf="!this.isUserActive()">
    <ul>
      <li>
        <a [routerLink]="['/info']" routerLinkActive="active"
          ><fa-icon [icon]="Info"></fa-icon>Info</a
        >
      </li>
      <li>
        <a [routerLink]="['/login']" routerLinkActive="active"
          ><fa-icon [icon]="SignInAlt"></fa-icon>Login</a
        >
      </li>
    </ul>
  </div>
</div>
