$violet: #cc99ff;
$gris-claire: rgba(124, 114, 160, 0.1);

.menu {
  img {
    padding: 5% 2% 5% 5%;
    width: 40%;
  }
}

span {
  position: absolute;
  width: 150%;
  left: 5%;

  top: 80%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 270px;
  line-height: 316px;
  letter-spacing: -0.05em;

  color: rgba(124, 114, 160, 0.2);
  display: none;
  &.active {
    display: block;
  }
}
.item-menu {
  margin-top: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;

  &.active {
    background-color: $gris-claire;
    color: $violet;
  }
}

li {
  padding-top: 5%;
}

a {
  display: block;
  padding: 10% 10%;
  text-decoration: none;
  color: #bfbfbf;
  font-size: 160%;
  &.active {
    background-color: $gris-claire;
    color: $violet;
  }
  &:hover:not(.logo) {
    background-color: $gris-claire;
  }

  &#info {
    position: absolute;
    bottom: 0;
    width: 92%;
  }

  fa-icon {
    padding-left: 10%;
    padding-right: 5%;
  }
}
