$violet: #cc99ff;
$violet-claire: rgba(124, 114, 160, 0.1);

img {
  padding: 5% 2% 5% 5%;
  width: 50%;
}

.item-menu {
  margin-top: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li {
  padding-top: 5%;
}

a {
  display: block;
  padding: 10% 10%;
  text-decoration: none;
  color: #bfbfbf;
  font-size: 160%;

  &.active {
    background-color: $violet-claire;
    color: $violet;
  }
  &:hover:not(#logo) {
    background-color: $violet-claire;
  }

  &#info {
    position: absolute;
    bottom: 0;
    width: 92%;
  }

  fa-icon {
    padding-left: 10%;
    padding-right: 5%;
  }
}
