<a href="/home">
  <img src="assets/Logo.png" />
</a>
<div *ngIf="this.isUserActive()">
  <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#">Profil</a></li>
    <li><a href="#">Ma Collection</a></li>
  </ul>
</div>
<div *ngIf="!this.isUserActive()">
  <ul>
    <li><a [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li>
      <a [routerLink]="['/register']" routerLinkActive="active">Register</a>
    </li>
    <li><a [routerLink]="['/login']" routerLinkActive="active">Login</a></li>
  </ul>
</div>
