#profile_container {
  padding: 1em;
  height: 100%;
  width: 90%;
  display: flex;
}

#profile_view {
  background-color: #7c72a0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center !important;
  font-size: 1em;
  transition: 0.3s;
  border-radius: 5px;
  height: 80%;
  width: 35%;
  margin-top: 50vh;
  transform: translateY(-50%);
}

#profile_view img {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  margin: 1em;
  border-radius: 50%;
}

#picture {
  height: 30%;
}

#container {
  height: 70%;
}
#profile_form {
  width: 65%;
  margin-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-size: 1em;
  transition: 0.3s;
  border-radius: 5px;
  height: 80%;
  margin-top: 50vh;
  transform: translateY(-50%);
}

#list {
  text-align: left;
  height: 100%;
  display: inline-block;
}

#list li {
  height: 60px;
}

#list ul {
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

#list li span {
  padding-left: 0.5em;
  color: white;
}

#icon-username {
  color: #7fdd6f;
}

#icon-birthdate {
  color: #dd6f6f;
}
#icon-location {
  color: #ff7a00;
}
#icon-mail {
  color: #0f46ab;
}

#form-title {
  font-size: 1.5em;
}

.form-group-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.form-group {
  margin-top: 20px;
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.form-control-2 {
  flex: 1 1 40%;
  margin-right: 5px;
  margin-left: 5px;
  padding-bottom: 0.4em;
}

.form-control-3 {
  flex: 1 1 20%;
  margin: 5px 5px 5px 5px;
  padding-bottom: 0.4em;
}

.form-control-full {
  flex: 1 1 100%;
  margin-right: 5px;
  margin-left: 5px;
  padding-bottom: 0.4em;
}

select {
  width: 100%;
  border: 1px solid #7c72a0;
  background-color: white;
  border-radius: 4px;
  height: 28px;
}

.span-text-color {
  color: #7c72a0;
}

.profil-info {
  font-size: 1.5em;
}
