<div id="profile_container" *ngIf="profile">
  <div id="profile_view">
    <div id="picture">
      <img src="assets/default-profile.png" alt="Avatar" class="image" />
    </div>
    <div id="container">
      <div id="list">
        <ul class="fa-ul">
          <li>
            <div class="profil-info">
              <fa-icon id="icon-username" icon="user-circle"></fa-icon>
              <span
                >{{ profile.firstName }}
                {{ profile.lastName | uppercase }}</span
              >
            </div>
          </li>
          <li>
            <div class="profil-info">
              <fa-icon id="icon-birthdate" icon="birthday-cake"></fa-icon>
              <span>{{ profile.birthDate }}</span>
            </div>
          </li>
          <li>
            <div class="profil-info">
              <fa-icon id="icon-location" icon="map-marker-alt"></fa-icon>
              <span>{{ profile.city }}, {{ profile.country | uppercase }}</span>
            </div>
          </li>
          <li>
            <div class="profil-info">
              <fa-icon id="icon-mail" icon="envelope"></fa-icon>
              <span>{{ profile.email }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="profile_form">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group-profile">
        <div id="form-title">
          <span>Personal informations</span>
        </div>
        <div class="form-group">
          <div class="form-control-2">
            <e9-input
              label="First Name"
              type="text"
              ngDefaultControl
              formControlName="firstName"
              [value]="profile.firstName"
              labelColor="#7C72A0"
              color="#7C72A0"
            ></e9-input>
          </div>
          <div class="form-control-2">
            <e9-input
              label="Last Name"
              type="text"
              ngDefaultControl
              formControlName="lastName"
              [value]="profile.lastName"
              labelColor="#7C72A0"
              color="#7C72A0"
            ></e9-input>
          </div>
          <div class="form-control-2">
            <e9-input
              label="Country"
              type="text"
              ngDefaultControl
              formControlName="country"
              [value]="profile.country"
              labelColor="#7C72A0"
              color="#7C72A0"
            ></e9-input>
          </div>
          <div class="form-control-2">
            <e9-input
              label="City"
              type="text"
              ngDefaultControl
              formControlName="city"
              [value]="profile.city"
              labelColor="#7C72A0"
              color="#7C72A0"
            ></e9-input>
          </div>
          <div class="form-control-full span-text-color">
            <span>Birth date</span>
          </div>
          <div class="form-control-3">
            <input
              type="date"
              formControlName="date"
              value="{{ profile.birthDate | date: 'yyyy-MM-dd' }}"
            />
          </div>
          <div class="form-control-full">
            <e9-input
              label="Username"
              type="text"
              ngDefaultControl
              formControlName="username"
              [value]="profile.username"
              labelColor="#7C72A0"
              color="#7C72A0"
            ></e9-input>
          </div>
          <div class="form-control-full">
            <e9-input
              label="Email"
              type="text"
              ngDefaultControl
              formControlName="email"
              [value]="profile.email"
              labelColor="#7C72A0"
              color="#7C72A0"
            ></e9-input>
          </div>
          <div class="form-control-full">
            <e9-input
              label="Password"
              type="password"
              ngDefaultControl
              formControlName="password"
              [value]="profile.password"
              labelColor="#7C72A0"
              color="#7C72A0"
            ></e9-input>
          </div>
        </div>
        <div class="form-group-button">
          <e9-button value="Save profile" size="lg"></e9-button>
        </div>
      </div>
    </form>
  </div>
</div>
