<div id="profile_container" *ngIf="profile">
  <div id="profile_view">
    <div id="picture">
      <img src="assets/default-profile.png" alt="Avatar" class="image" />
    </div>
    <div id="container">
      <div id="list">
        <ul class="fa-ul">
          <li>
            <span><fa-icon icon="user-circle"></fa-icon></span
            >{{ profile.firstName }} {{ profile.lastName | uppercase }}
          </li>
          <li>
            <span><fa-icon icon="birthday-cake"></fa-icon></span
            >{{ profile.birthDate }}
          </li>
          <li>
            <span><fa-icon icon="map-marker-alt"></fa-icon></span>
            {{ profile.city }}, {{ profile.country | uppercase }}
          </li>
          <li>
            <span><fa-icon icon="envelope"></fa-icon></span>{{ profile.email }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="profile_form">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group-profile">
        <div class="form-group">
          <div class="form-control-2">
            <label>First Name</label>
            <input type="text" formControlName="firstName" />
          </div>
          <div class="form-control-2">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" />
          </div>
          <div class="form-control-2">
            <label>Country</label>
            <input type="text" formControlName="country" />
          </div>
          <div class="form-control-2">
            <label>City</label>
            <input type="text" formControlName="city" />
          </div>
          <div class="form-control-full span-text-color">
            <span>Birth date</span>
          </div>
          <div class="form-control-3">
            <input
              type="date"
              formControlName="date"
              value="{{ profile.birthDate | date: 'yyyy-MM-dd' }}"
            />
          </div>
          <div class="form-control-full">
            <label>Username</label>
            <input type="text" formControlName="username" />
          </div>
          <div class="form-control-full">
            <label>Email</label>
            <input type="text" formControlName="email" />
          </div>
          <div class="form-control-full">
            <label>Password</label>
            <input type="password" formControlName="password" />
          </div>
        </div>
        <div class="form-group-button">
          <e9-button
            value="Update profile"
            color="#7FDD6F"
            size="m"
            width="150px"
          ></e9-button>
        </div>
      </div>
    </form>
  </div>
</div>
